<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987501123019-gl6q7m0nudln6hv7uh20l6mbcerro27i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987501123019-gl6q7m0nudln6hv7uh20l6mbcerro27i</string>
	<key>API_KEY</key>
	<string>AIzaSyBIhpGfQZidG6mUJBJd6mzegvXhC26nYQg</string>
	<key>GCM_SENDER_ID</key>
	<string>987501123019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sichtbar.debug</string>
	<key>PROJECT_ID</key>
	<string>kpi-alert</string>
	<key>STORAGE_BUCKET</key>
	<string>kpi-alert.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987501123019:ios:efde32655bb13e70b4d24e</string>
</dict>
</plist>